<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237604189213-b8tv24m40u2li4jrlgc0ug1sh8fsgbp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237604189213-b8tv24m40u2li4jrlgc0ug1sh8fsgbp0</string>
	<key>API_KEY</key>
	<string>AIzaSyCK64jdzxsLvZnWKjy51nQFNxclVr68728</string>
	<key>GCM_SENDER_ID</key>
	<string>237604189213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hack19</string>
	<key>PROJECT_ID</key>
	<string>hackathon-94cc9</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-94cc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237604189213:ios:233565da7cbb22f8</string>
	<key>DATABASE_URL</key>
	<string>https://hackathon-94cc9.firebaseio.com</string>
</dict>
</plist>